html {
  background: url(happy-sushi.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans Condensed", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vh;
  margin: auto;
}

.tip-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 300px 0 300px;
  background-color: rgb(106, 216, 148);
  border-radius: 4px;
  flex-wrap: wrap;
}

#bill-amount {
  margin: 0 10px 0 10px;
}

#tip-amount {
  margin: 0 10px 0 10px;
}

.tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(106, 216, 148);
  border-radius: 4px;
  margin: 10px 300px 0 300px;
}

.tips h1 {
  height: 30px;
  width: auto;
}

.button {
  margin: 10px;
}

.tip-list {
  list-style-type: none;
  padding: 0;
}

.tip-list li:before {
  content: "$";
  margin-right: 4px;
}

.tip-list li {
  font-size: 20px;
}

input {
  text-align: center;
  border: none;
  height: 30px;
  border-radius: 3px;
}

label {
  font-size: 20px;
}

fieldset {
  border: none;
}

button {
  margin-top: 5px;
}

.total-amount {
  margin-bottom: 50px;
}
